pandas
fastapi
pydantic
uvicorn
dotenv
scipy
sqlalchemy
pymysql
scikit-learn
cryptography
alembic
imbalanced-learn
xgboost
lightgbm
shap
matplotlib
numpy
seaborn
openpyxl
kagglehub
PyPDF2
sentence-transformers
openai 
ollama
langchain
langchain-openai
langchain-community
langchain-core
langchain-text-splitters
faiss-cpu

